<div class="footer">
  <!-- <p class="footer-header">Find me on other websites!</p> -->
  <p class="footer-links">
    <a href="https://www.linkedin.com/in/minda-fang-3ab37310a" target="_blank"><img class="icon" src="../../assets/img/linkedin-logo.png"/></a>
    
    <a href="https://www.facebook.com/fang.minda" target="_blank"><img class="icon" src="../../assets/img/facebook-app-logo.png"/></a>
    
    <a href="https://github.com/chelseaisgood" target="_blank"><img class="icon" src="../../assets/img/github-logo-silhouette-in-a-square.png"/></a>
  </p>

  <p class="footer-name">Minda &copy; 2018</p>
</div>