<div class="skillsets-container">
  <div class="skillset-container">
    <p class="skillset-title">Java</p>
    <div class="skill-color-container">
      <div class="expert-color"></div>
      <div class="expert-blank"></div>
    </div>
  </div>
  <div class="skillset-container">
    <p class="skillset-title">React.js</p>
    <div class="skill-color-container">
      <div class="expert-color"></div>
      <div class="expert-blank"></div>
    </div>
  </div>
  <div class="skillset-container">
    <p class="skillset-title">React and Redux</p>
    <div class="skill-color-container">
      <div class="expert-color"></div>
      <div class="expert-blank"></div>
    </div>
  </div>
  <div class="skillset-container">
    <p class="skillset-title">Angular4+</p>
    <div class="skill-color-container">
      <div class="expert-color"></div>
      <div class="expert-blank"></div>
    </div>
  </div>
  <div class="skillset-container">
    <p class="skillset-title">Node.js</p>
    <div class="skill-color-container">
      <div class="expert-color"></div>
      <div class="expert-blank"></div>
    </div>
  </div>
</div>
