<div id="skillsets-selection-container">
  <a name="skillsets" class="skillsets-label">Skill Sets</a>
  <app-skill-area-selector (changeSelectedArea)="onChangeSelectedArea($event)"></app-skill-area-selector>
</div>
<div class="skillsets-container">
  <div *ngFor="let skill of filteredSkills" class="skillset-container">
      <p class="skillset-title">{{ skill.name }}</p>
      <div class="skill-color-container">
        <div class="left-progress-bar expert-color-{{ skill.proficientLevel }}">{{ skill.proficientDescription }}</div>
        <div class="right-progress-bar expert-blank-{{ 5 - skill.proficientLevel }}"></div>
      </div>
  </div>
</div>