<!--The content below is only a placeholder and can be replaced.-->
<div class="homepage-container">
  <nav class="nav-bar-container">
    <div class="nav-bar-left">
      <p class="nav-bar-name"> Minda Fang</p>
      <p class="nav-bar-role"> Full-stack Web Developer </p>
    </div>
    <div class="nav-bar-right">
      <a class="nav-link">Intro</a>
      <a class="nav-link">Projects</a>
      <a class="nav-link">Working Experience</a>
      <a class="nav-link">Contact</a>
    </div>
  </nav>
  <div class="intro-container">
    <img class="profile-img" src="../../assets/img/profile_img.png" alt="profile-img"/>
    <div class="introduction">
      <p>I am just a piggy!</p>
      <p>I know nothing but eat</p>
      <a href="#skillsets">My skill sets</a>
    </div>
  </div>
  <div class="skills">
    <h2><a name="skillsets">Skill sets</a></h2>
    <app-skillsets></app-skillsets>
  </div>
</div>
<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

