<!--The content below is only a placeholder and can be replaced.-->
<div class="homepage-container">
  <app-header></app-header>
  <div class="intro-container">
    <img class="profile-img" src="../../assets/img/profile_img.png" alt="profile-img"/>
    <div class="introduction">
      <p>Welcome to my website!</p>
      <a href="#skillsets">My skill sets</a>
    </div>
  </div>
  <div class="skills">
    <h2><a name="skillsets">Skill sets</a></h2>
    <app-skillsets></app-skillsets>
  </div>
  <app-footer></app-footer>
</div>

